[Unit]
Description=database logging of power meter readouts
#After=postgresql.service, owserver.socket

[Service]
Type=notify
ExecStart=/usr/local/bin/logtemp.py
# measurements is read & stored every half of watchdog interval
WatchdogSec=12m
Restart=always

[Install]
WantedBy=default.target
